<% provide(:title, "Alternatives") %>
<div class="center jumbotron">
	<h3>What are your alternatives?</h3>
	<p>List your options below.</p>
	<br>
	<p><small><em>Drag to reorder</em></small></p>

	<div class="row">
  	<div class="col-md-6 col-md-offset-3">
  		<%= form_for(@alternative) do |f| %>
				<%= render 'shared/alternative_error_messages', object: f.object %>

				<%= f.label :name %>
			  <%= f.text_field :name, class: 'form_control' %>

			  <%= f.submit "Next >", class: "btn btn-primary" %>
			<% end %>

		</div>
	</div>
</div>